body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.title {
  text-align: center
}
#main-image {
  display: block;
  margin-left: auto;
  margin-right: auto
}
nav {
  margin: auto;
  width: 50%;
  text-align: center
}
nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
  display: inline-block
}
#img-caption {
  font-size: small;
  text-align: center
}
.para {
  width: 800px;
  text-align: center
}
#details {
  display: inline-block;
  width: 100%
}
.details-item {
  float: left;
  background-color: grey;
  text-align: center;
  width: 25%
}